body {
    margin: 5px;
    background: #313131;
    text-align: center;
    font-family: "Roboto Mono";
    color: #ebddc0;
}

.button {
    background-color: #f66e0d;
    color: #4e3a2c;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }

.button:active {
    background-color: #9b470c;
    color: #3a2c22;
    transform: translateY(4px);
}
 /* 
.button1 {
    background-color: ;
}
*/

@font-face {
    font-family: "Roboto Mono", monospace;;
    src: url(https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap);
}

/* WATERMELON - Monkeytype
text - #ebddc0
body - #313131
button - #f66e0d
text_inside_button - #4e3a2c
*/